@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sup</h1>
    <p> <a href="https://github.com/Manduco">Armando test github commit via visual studio .</p>
</div>
